 
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  min-height: 100vh;
  position: relative;
  background-color: white;
}

.clear {clear: left; display: block; font-size: 0.1rem;}

.container {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: 1rem;
  column-width: auto;
  margin: auto;
  padding: 1rem 1rem;
  padding-bottom: 6rem;
  max-width: 75%;
  text-align: justify;
  object-fit: contain;
}

@media screen and (max-width: 1200px) {
  .container {
  max-width:900px;
  }
}

/* Lens container */
.lens-container {
  max-width: 100vw;
  position: relative;
  background: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.lens-container p {
  text-align: justify;
  margin-right: 50px;
  margin-left: 50px;
}

.lens-container img {
	max-height: 80vh;
	max-width: 90vw;
	margin-left:50px;
	padding-top: 0px;
	padding-right: 30px;
	float: left;
}

@media screen and (max-width: 1200px) {
  .lens-container img {
	max-height: 90vh;
	max-width: 95vw;
	margin: auto;
	padding-right: 0px;
	float: none;
	display: block;
	}
}

.lens-container a:link {
  color:#6c95b8;
  text-decoration: none;
}
.lens-container a:hover {
  color:#bdbdbd
}

.container a:link {
  color:#46647d;
  text-decoration: none;
}

.container a:visited {
  color:#46647d;
  text-decoration: none;
}

.container a:hover {
  color:#bdbdbd
}

@media screen and (max-width: 865px) {
  .container img {
  max-width:100%;
  float: none;
  }
}

.LinkBut {
  background: #46647d ;
  font-size: 1rem; 
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
}

.LinkBut a:link {
  color: white;
  text-decoration: none; 
}

.LinkBut a:visited {
  color: white;
  text-decoration: none; 
}

.LinkBut:hover {
  background: #bdbdbd ;
}

.LinkBut:hover a{
  color: #46647d;
}

.heading {
  font-size: 1.8rem;
  color: black;
  text-align: center;
  padding-top: 0.5rem;
  font-weight: bold;
}

.heading1-gallery {
  padding-top: 25px;
  color: black;
  font-size: calc(0.7rem + 0.9vw);
  text-align: left;
  text-decoration: bold;
  margin-right: 50px;
  margin-left: 50px;
}

.heading2-gallery {
  color: black;
  font-size: calc(0.8rem + 0.3vw);
  text-align: left;
  text-decoration: bold;
  margin-right: 50px;
  margin-left: 50px;
}

 a.anchor {
    display: block;
    position: relative;
    top: -3.5rem;
    visibility: hidden;
}

.table-container {
   text-align: center;
   margin: 0 auto;
   max-width: 1300px;
 }
           	
table {
   border-collapse: collapse;
   text-align: center;
   border-color:black;
   border-width: 1px;
   border-style: solid;
}

th, td {
  border-color:black;
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem 0.75rem;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background-color: #bdbdbd;
}

thead {
  background-color: #46647d ;
  color: white;
  cursor: pointer;
}

thead th:hover {
  background-color: #181818;
}

.PreCell {
  padding: 0px;
}

.PreHead {
  cursor: default;
}

.PreHead:hover {
  background-color: #46647d ;
}

.PreIm {
  height: 40px;
}
     
.footer {
  font-size: 0.8rem;
  line-height: 1.6rem;
  font-family: "Arial", "Helvetica", "sans-serif";
  font-weight: normal;
  color:white;
  background: #181818;
  text-align: center;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
}
      
.footer a  {
  color: white;
  text-decoration: none;
}
.footer a:hover  {color: #46647d}
            
