body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  min-height: 100vh;
  position: relative;
}

.topnav {
  background-color: #f0f0f0;
  position: fixed;
  -webkit-backface-visibility: hidden;
  width: 100%;
  font-family: "Arial", "Helvetica", "sans-serif";
  z-index: 92;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.topnav a {
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  padding: 0.75rem 1rem;
  margin: 0;
}

.dropdown .dropbtn{
  font-size: 1.0rem;  
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  padding: 0.70rem 0rem;
  margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #46647d;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: auto;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  font-size: 1rem;
  padding: auto;
  background-color: #46647d;
  min-width: 180px;
  box-shadow: 6px 12px 5px rgba(0,0,0,0.5);
  z-index: 92;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 0.7rem 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  color: #46647d;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #181818;
  color: white;
}

@media screen and (max-width: 770px) {
  .topnav .dropdown {display: none;}
  .topnav .dropdown:first-child {display: block;}
  .topnav a.icon {
    float: right;
    display: block;
    padding: 0.71rem 1rem;
  }
}

@media screen and (max-width: 770px) {
  .topnav.responsive {
    position: fixed;
    -webkit-backface-visibility: hidden;
    }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.71rem 1rem;
  }
  
  .topnav.responsive .dropdown {
    float: none;
    display: block;
    text-align: left;
    height: auto;
    z-index: 92;
  }
  
  .topnav.responsive .dropdown .dropbtn {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    padding: 0rem 0rem;
  }
  
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 0.71rem 1rem;
  }
 }

/* Title bar in the header */
.titlebar {
  background-color: black; /* Used if the image is unavailable */
  height: 8vw; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: calc(50px + 4vw);

}
.titlebar-text {
  color: #f0f0f0;
  font-family: "Arial", "Helvetica", "sans-serif";
  font-weight: normal;
  font-size: calc(0.7rem + 1.2vw);
  text-shadow: 2px 2px #181818;
}

{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  object-fit: cover;
}

.slideshow-container img {
	max-width:100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text-gallery a:link, .text-gallery a:visited {

  font-family: "Arial", "Helvetica", "sans-serif";
  color: white;
  font-size: calc(0.8rem + 0.9vw);
  padding: 10px 0px;
  position: absolute;
  text-decoration: none;
  bottom: 10px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}

.text-gallery a:hover {
  background-color: rgba(0,0,0,0.75);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bdbdbd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #46647d;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.container {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: 1rem;
  column-width: auto;
  margin: auto;
  padding: 1rem 1rem;
  padding-bottom: 6rem;
  max-width: 1000px;
  text-align: justify;
  object-fit: contain;
}
.container a:link {
  color:#46647d;
  text-decoration: none;
}
.container a:hover {
  color:#bdbdbd
}

.container img {
  max-width:100%;
  overflow: hidden;
  float: right;
}

@media screen and (max-width: 860px) {
  .container img {
  max-width:100%;
  float: none;
  }
}

.heading {
  font-size: 1.8rem;
  color: black;
  text-align: left;
  padding-top: 1rem;
  text-weight: bold;
}

.heading2 {
  font-size: 1.2rem;
  color: black;
  text-align: left;
  padding-top: 0.7rem;
  text-weight: bold;
} 

 a.anchor {
    display: block;
    position: relative;
    top: -3.5rem;
    visibility: hidden;
}

.tableTeam {
  outline: none;
  width: 100%;
  text-align: left;
}

.tableTeam td {position: relative;}

.tableTeam img {
  max-width: 200px;
  height: auto;
  padding: 0rem 1rem;
  float: left;
}

.clear {display: none;}

.CVlink {
  background: #bdbdbd;
  font-size: 1rem;  
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 0rem;
}

.CVlink:hover {
  background: #46647d ;
}

.CVlink:hover a{
  color: #bdbdbd;
}

@media screen and (max-width: 600px) {
  .CVlink {
    position: static;
  }
}

.tableExpert {
  width: 300px;
  text-align: left;
  background: #f0f0f0;
  box-shadow: 4px 8px 4px rgba(0,0,0,0.3);
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  border: 1px solid #f0f0f0;
}

.tableExpert td  {
  position: relative;
  text-align: center;
  height: 380px;
  padding: 0rem 0rem;
}

.tableExpert img {
  width: 100%;
  height: auto;
}

.text2 {
  font-size: 1rem;
  position: absolute;
  bottom: 30px;
  text-align: center;
  color: white;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
}

.text {
  font-size: 1rem;
  position: absolute;
  bottom: 30px;
  text-align: center;
  color: black;
  width: 100%;
  background-color: rgba(230,230,230,0.9);
}

.label {
  font-size: 2rem;
  position: absolute;
  top: 80px;
  text-align: center;
  color: #46647d;
  width: 100%;
  text-shadow: 2px 2px #f0f0f0;
  background-color: rgba(230,230,230,0.7);
}

.label2 {
  font-size: 2rem;
  position: absolute;
  top: 80px;
  text-align: center;
  color: #f0f0f0;
  width: 100%;
  text-shadow: 2px 2px #181818;
  background-color: rgba(0,0,0,0.4);
}

.dropdownExpBar {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.dropdownExp{
  width: 50%;
  float: left;
  bottom: 0px;
}

.dropdownExp .Expdropbtn{
  font-size: 1.0rem;  
  border: none;
  outline: none;
  color: white;
  background-color: #46647d;
  font-family: inherit;
  padding: 0.2rem 0.2rem;
  margin: 0;
  width: 100%;
  text-align: center;
}

.dropdownExp-content {
  display: none;
  position: absolute;
  margin: auto;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  font-size: 1rem;
  padding: auto;
  background-color: #46647d;
  color: white;
  min-width: 147px;
  box-shadow: 6px 12px 5px rgba(0,0,0,0.5);
  z-index: 95;
}

.dropdownExp-content a:link, .dropdownExp-content a:visited {
  float: none;
  color: white;
  padding: 0.2rem 0.2rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownExp-content a:hover {
  background-color: #f0f0f0;
  color: black;
}

.dropdownExp:hover .dropdownExp-content {
  display: block;
}

@media screen and (max-width: 500px) {
  .tableTeam img {
    max-width: 100px;
    height: auto;
    padding: 0rem 1rem;
    float: none;
  }
  .clear {display: block;}
}

.more {display: none;}
	
.more img{
  max-width: 600px;
  height: auto;
  padding: 0.6rem 1rem;
  float: right;
}

@media screen and (max-width: 800px) {
  .more img {
    max-width: 80vw;
    height: auto;
    padding: 0.6rem 1rem;
    float: none;
  }
 .clear {display: block;}
}

.Morebtn {
  background-color: #bdbdbd;
  color: black;
  cursor: pointer;
  padding: 0.7rem 1rem;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1rem;
}

.Morebtn:hover {
  background-color: #46647d;
  color: #bdbdbd;
}

.Morebtn:after {
  content: "more";
}

.Morebtn.active:after {content: "less";}

Morebtn.content {
  background-color: #bdbdbd;
  color: black;
  padding: 1rem 1rem;
  text-align: center;
  font-size: 1rem;
}

.collapsible {
  background-color: #f0f0f0;
  color: black;
  cursor: pointer;
  padding: 0.7rem 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.5rem;
}
 .collapsible:hover {
  background-color: #bdbdbd;
}

 .collapsible.active {
  background-color: #f0f0f0;
}

.collcontent {
  padding: 0 1rem;
  display: none;
  overflow: hidden;
}

.collapsible:after {
  content: "+";
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 0.5rem;
}

.collapsible.active:after {
  content: "-";
}

.project {overflow: hidden;}

.project img{
  max-width: 250px;
  height: auto;
  padding: 0.6rem 1rem;
  float: left;
}

@media screen and (max-width: 500px) {
  .project img {
    max-width: 250px;
    height: auto;
    padding: 0.6rem 1rem;
    float: none;
  }
  .clear {display: block;}
}
     
.footer {
  font-size: 0.8rem;
  line-height: 1.6rem;
  font-family: "Arial", "Helvetica", "sans-serif";
  font-weight: normal;
  color:white;
  background: #181818;
  text-align: center;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
}
      
.footer a  {
  color: white;
  text-decoration: none;
}
.footer a:hover  {color: #46647d}
            
     

